<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JessieEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <JessieEditor.My.MySettings>
            <setting name="Colorcback" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorIDE" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorSide" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorText" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Points" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo1" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo2" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo3" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo4" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo5" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo6" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo7" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo8" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo9" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo10" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo1URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo2URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo3URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo4URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo5URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo6URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo7URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo8URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo9URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Repo10URL" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuildFile" serializeAs="String">
                <value>run.bat</value>
            </setting>
            <setting name="CustomBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewCommand1" serializeAs="String">
                <value />
            </setting>
            <setting name="NewCommand2" serializeAs="String">
                <value />
            </setting>
            <setting name="NewCommand3" serializeAs="String">
                <value />
            </setting>
            <setting name="NewCommand4" serializeAs="String">
                <value />
            </setting>
            <setting name="NewCommand5" serializeAs="String">
                <value />
            </setting>
            <setting name="Command1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Command2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Command3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Command4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Command5Name" serializeAs="String">
                <value />
            </setting>
            <setting name="restored" serializeAs="String">
                <value />
            </setting>
        </JessieEditor.My.MySettings>
    </userSettings>
</configuration>
